* {
   box-sizing: border-box;     /* Padding and border size is taken account when setting the width and height of element */
}

body {
	font-family: Verdana, sans-serif;       /* Set default font for all elements to Verdana */
    margin: 0;                              /* Some browsers add space around body. This make sures there is no space and elements ocuppy the entire width and height of the body element. */
    padding: 0;
}

/***************************
        Navigation
****************************/
nav {
	display: flex;
	justify-content: flex-end;
	position: sticky;
	background: #00467F;
}

nav .menu-links {
	display: flex;
	justify-content: space-evenly;
}

nav .menu-links a {
	color: white;
	align-self: center;
	padding: 20px;
	text-decoration: none;
}

nav .menu-links a:hover {
	background: white;
	color: #00467F;
}


/***************************
        Layout Styles
****************************/

.container {
    display: flex;
}

/* Two Column Layout */
.two-column > div {
    width: calc(100% / 2);
}

.wide-left > div:first-child {
   width: 80%;
}

.wide-right > div:last-child {
   width: 80%;
}

/* Multi-Column Layout */
.three-column > div {
   width: calc(100% / 3);
}

.four-column > div {
   width: calc(100% / 4);
}

.five-column > div {
   width: calc(100% / 5);
}

.six-column > div {
   width: calc(100% / 6);
}

/* Grids */

.grid-container {
   display: flex;
   flex-wrap: wrap;
}

.three-col-grid > div {
   flex-basis: calc(100% / 3);
}

.three-col-grid.with-gap > div {
   flex-basis: calc((100% - 30px) /3); /* Why are we subtracting 30px? We are taking account the margin we will add.*/
   margin: 5px;						/* 5px on the all sides means there is a total of 10px for the left and right sides. */
                                       /* Since we want three columns for our grid, we will multiply both margins of each element by 3. Thus we get 30px. */
   
}

/***************************
        Typography
****************************/

h1 {
   color: #00467F;
   text-align: center;
   margin-bottom: 30px;
}